<!-- <ion-header>
  <ion-toolbar>
    <ion-title>paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-temperatura></app-temperatura>
</ion-content> -->


<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
      <ion-button class="bluetooth" color="tertiary" (click)="conecct()">
        <ion-icon name="bluetooth-outline"></ion-icon>
      </ion-button>
      <ion-label class="conexion">{{conexion}}</ion-label> 
    </ion-toolbar>
    
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="redirectCuentaUsuario()">Cuenta</ion-item>
      <ion-item (click)="logOut()">Salir</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
    <ion-title>{{nombreUsuario}}</ion-title>
    <!-- <ion-item> -->
      <ion-avatar slot="end" style=" text-align: center; margin-top: 5px; margin-bottom: -15px;">
        <img style="width: 70%; height: auto;" src="./../../../assets/images/avatar.svg" />
      </ion-avatar>
      
    <!-- </ion-item> -->
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-accordion-group>
    <ion-accordion value="temperatura">
      
      <ion-item slot="header" class="contentTittle">
        <!-- <div> -->
          <ion-button class="botonIr" color="danger">
          <!-- <ion-button class="botonIr" color="danger" (click)="temperaturaIr()"> -->
            <ion-icon name="thermometer-outline" class="icono"></ion-icon>
            <ion-label class="label">Temperatura</ion-label>
          <ion-badge color="primary" class="bagbutton">{{valTemp}} °C</ion-badge>
          </ion-button>
        <!-- </div> -->
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-card class="card">
            <ion-item class="contentSubTittle">
              <circle-progress [percent]="porcentaje"  [space]="-10" [radius]="100" [outerStrokeWidth]="10"
              [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
              [animationDuration]="1000" [showTitle]=true [units]="'°C'" [showSubtitle]=false [title]="ok" [startFromZero]=false></circle-progress>
            </ion-item>
          </ion-card>
        </ion-item>
      </ion-list>

    </ion-accordion>
  </ion-accordion-group>

  <ion-accordion-group>
    <ion-accordion value="colors">
      
      <ion-item slot="header" class="contentTittle">
        <ion-button class="botonIr" color="secondary">
        <!-- <ion-button class="botonIr" color="secondary" (click)="spo2Ir()"> -->
          <ion-icon name="analytics-outline" class="icono"></ion-icon>
          <ion-label class="label">Saturación O2</ion-label>
          <ion-badge color="primary" class="bagbutton">{{valSpo2}}%</ion-badge>
        </ion-button>
      </ion-item>

      <ion-list slot="content">
        <ion-item class="contentSubTittle">
          <ion-card class="card">
            <ion-item class="contentSubTittle">
              <circle-progress [percent]="porcentaje"  [space]="-10" [radius]="100" [outerStrokeWidth]="10"
              [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
              [animationDuration]="1000" [showTitle]=true [units]="'°C'" [showSubtitle]=false [title]="ok" [startFromZero]=false></circle-progress>
            </ion-item>
          </ion-card>
        </ion-item>
      </ion-list>

    </ion-accordion>
  </ion-accordion-group>

  <ion-accordion-group>
    <ion-accordion value="colors">
      
      <ion-item slot="header" class="contentTittle">
        <ion-button class="botonIr" color="success">
        <!-- <ion-button class="botonIr" color="success" (click)="ritmoIr()"> -->
          <ion-icon name="heart" class="icono"></ion-icon>
          <ion-label class="label">Ritmo Cardiaco</ion-label>
          <ion-badge color="primary" class="bagbutton">{{valHeart}} BPM</ion-badge>
        </ion-button>
      </ion-item>

      <ion-list slot="content">
        <ion-item class="contentSubTittle">
          <ion-card class="card">
            <ion-item class="contentSubTittle">
              <circle-progress [percent]="porcentaje"  [space]="-10" [radius]="100" [outerStrokeWidth]="10"
              [innerStrokeWidth]="10" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
              [animationDuration]="1000" [showTitle]=true [units]="'°C'" [showSubtitle]=false [title]="ok" [startFromZero]=false></circle-progress>
            </ion-item>
          </ion-card>
        </ion-item>
      </ion-list>

    </ion-accordion>
  </ion-accordion-group>
</ion-content>



