.circular-progress{
    width: 12rem;
    height: 12rem;

    // background: red;
    border-radius: 50%;

    margin: auto;
    background: linear-gradient(
        0deg,
        red 50%,
        rgba(red,0.2) 50%
    );    
    position: relative;
    &::before{
        content:"html5";
        color: red;
        text-align: center;
        line-height: 8rem;
        width: 12rem;
        height: 12rem;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff content-box;
        border-radius: 50%;
        padding: .5em;
        box-sizing: border-box;
        font-size: 2rem;
    }
    &::after{
        content: "60%";
        width: 12rem;
        height: 12rem;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        background: linear-gradient(
            transparent 100%,
            red 10%
        );
        transform: scale(1.1);
        text-align: center;
        color: red;
        line-height: 13rem;
    }
}