<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formRegister">
    <ion-item lines="full">
      <ion-label position="floating">Nombres</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Tipo Documento</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Numero Documento</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Constraseña</ion-label>
      <ion-input type="password" #email required=""></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Telefono</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Dirección</ion-label>
      <ion-input type="street-address"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Ciudad</ion-label>
      <ion-input type="country"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          (click)="onRegister()"
          expand="block"
        >Registrar</ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          (click)="probe()"
          expand="block"
        >Registrar</ion-button>
      </ion-col>
    </ion-row> -->
    <!-- <h1>Nombre</h1>
    <h1>direccion</h1>
    <h1>telefono</h1>
    <h1>fecha nacimiento</h1>
    <h1>CC</h1>
    <h1>ciudad</h1> -->


  </form>
</ion-content>
