ion-content{
    // background: hsl(0deg 0% 100%);
    // box-shadow: 0 0 2em hsl(231deg 62% 94%);
    // background: hsl(231deg 62% 94%);
    // padding: 1em;
    // display: flex;
    // flex-direction: column;
    // gap: 0.5em;
    border-radius: 20px;
    // color: hsl(0deg 0% 30%);
    // margin-top: -3em;
    form{
        // box-shadow: 0 0 2em hsl(231deg 62% 94%);
        // background: hsl(231deg 62% 94%);
        ion-item{
            border-radius: 1px;
            margin-bottom: 5px;
            margin-left: 50px;
            margin-right: 50px;
            ion-input{
                border-radius: 25px;
                // background: hsl(231deg 62% 94%);
            }
          
    } 
    ion-col{
        margin-left: 50px;
        margin-right: 50px;
        }
    } 
}

