.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: cadetblue;
    // position: relative;
}

.content{
  display: flex;
  justify-content: center;
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
  top: -135px;
  z-index: 1;
  align-items: center;
  /* background: rebeccapurple; */
  flex-direction: column;
  // color: white;
  .tittle{
    margin-top: 20px;
    font-size: 50px;
    color: white;
    margin-bottom: -20px;
    z-index: 1;
  }
  .circle{
    background: cadetblue;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .icono{
      // height: 100px;
      // width: 100px;
      color: white;
      // padding-left: 10px;
      height: 100px;
      width: 100px;
      // padding-top: 25px;
      // position: fixed;
    }
  }
}
.row{
  // background: red;
  justify-content: center;
  margin-top: -100px;
  .circle{
    background: cadetblue;
    width: 130px;
    height: 130px;
    border-radius: 100%;
  }
  .icono{
    // height: 100px;
    // width: 100px;
    color: white;
    // padding-left: 10px;
    height: 100px;
    width: 100px;
    padding-top: 25px;
    // position: fixed;
  }
}

.contentTittle{
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  .tittle{
    margin-top: 20px;
    font-size: 50px;
    color: white;
    margin-bottom: -39px;
    z-index: 1;
  }
}


.botonContent{
  justify-content: center;
  display: flex;
  margin-bottom: 5px;
  .boton{
    width: 70%;
    z-index: 8;
}
}

.carga{
    width: 50px;
    height: 50px;
}

.linkRegister{
  position: fixed;
  // width: 100%;
  // margin-top: 300px;
  // text-align: right;
  // color: blue;
  right: 0px;
  z-index: 2;
}

.linkForGot{
  position: fixed;
  width: 100%;
  margin-top: 300px;
  text-align: right;
  color: blue;
  right: 50px;
  z-index: 1;
}
