<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
    <ion-title>{{nombreUsuario}}</ion-title>
    <!-- <ion-item> -->
      <ion-avatar slot="end" style=" text-align: center; margin-top: 5px; margin-bottom: -15px;">
        <img style="width: 70%; height: auto;" src="./../../../assets/images/avatar.svg" />
      </ion-avatar>
      
    <!-- </ion-item> -->
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-grid>
    <ion-row class="fila">
      <ion-col class="column">
        <div class="botonGrid">
          <ion-button class="botonIr" color="danger">
            <ion-icon name="thermometer-outline" class="icono"></ion-icon>
            <ion-label class="label">Temperatura</ion-label>
          </ion-button>
        </div>        
      </ion-col>
      <ion-col class="column">
        <div class="botonGrid">
          <ion-button class="botonIr">
            <ion-icon name="analytics-outline" class="icono"></ion-icon>
            <ion-label class="label">Saturación O2</ion-label>
          </ion-button>
        </div>        
      </ion-col>
    </ion-row>
    <ion-row class="fila">
      <ion-col class="column">
        <div class="botonGrid">
          <ion-button class="botonIr" color="success">
            <ion-icon name="heart" class="icono"></ion-icon>
            <ion-label class="label">Ritmo Cardiaco</ion-label>
          </ion-button>
        </div>        
      </ion-col>
      <ion-col class="column">
        <div class="botonGrid">
          <ion-button class="botonIr" color="warning">
            <ion-icon name="map" class="icono"></ion-icon>
            <ion-label class="label">GPS</ion-label>
          </ion-button>
        </div>        
      </ion-col>
    </ion-row>
  </ion-grid> 
  <!-- <app-temperatura></app-temperatura> -->


  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="bandage-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary">
        <ion-icon name="analytics-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button color="success">
        <ion-icon name="heart"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <!-- <ion-fab-list side="bottom">
      <ion-fab-button color="secondary">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list> -->
    <ion-fab-list side="start">
      <ion-fab-button color="danger">
        <ion-icon name="thermometer-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>



