<ion-header>
  <ion-toolbar>
    <ion-title>paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="fila">
      <ion-col class="column">
        <app-temperatura></app-temperatura>
      </ion-col>
      <ion-col class="column">
        <app-spo2></app-spo2>
      </ion-col>
    </ion-row>
    <ion-row class="fila">
      <ion-col class="column">
        <app-ritmo></app-ritmo>
      </ion-col>
      <ion-col class="column">
        <app-gps></app-gps>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
